{
  "semi": true,
  "singleQuote": true,
  "parser": "typescript",
  "endOfLine":"auto",
  "printWidth": 80,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "useTabs": true
}
